<!DOCTYPE html>
<html>
<head>
<title></title>
</head>
<body>
<div id="header">
<h3>Curriculum vitae</h3>
<p id="name">SHIMBIRO SHARON</p>
<a href="mailto:shimbirosharon@gmail.com" target="_blank">< id="email>shimbirosharon@gmail.com</p></a>"
<p id="contact">+254-0724984864</p>
</div>
<div class="left">
</div>
<div class="right">

<p>
<ul>
<li>Currently going through code9ty
<li>Was a Stiudent at Gratelakes University Of Kisumu
<li>Goal orientaed person,dedicated
<li>Good Communication skills,
</p>
<h3>Educational Background</h3>
<h4 id="Year">2015-2016</h4>
<p id="institution"><strong>Gluk</strong></p>
<h5>Declaration</h5>
<p>
I hereby declare that the details furnished above are true and correct to the best of my knowledge and belief.</p>
</div>
<div id="footer"></div>
</body>
</html>