<!DOCTYPE html>
<html>
   <head>
     <meta charset='UTF-8' />
     <title>My Movies</title>
   </head>
   <body>
     <h1>My Movies</h1>
     <u1>
      <li>movies</li>
      <li>go</li>
      <li>here</li>
     </u1>
     <a href="/movies/new">Add New Movie</a>
    </body>
</html>